<% if !user_signed_in? %>
  <%= link_to  "Sign in", new_user_registration_url %>
  <%= link_to "Log in", new_user_session_url %>
<% else %>
  <li> <%= current_user.name %> </li>
  <%= link_to "Log out", destroy_user_session_url %>
<% end %>

<% if can? :manage, @event %>
  <%= link_to "New Event", new_event_url %>
  <%= link_to "New Ticket", new_ticket_type_url %>
<% end %>
